@model IEnumerable<AppointmentViewModel> 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center"> 
    <h1> Appointments </h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Paient</th>
                <th scope="col">Period</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody> 
            @foreach(var data in Model)
            {
                <tr>
                    <td>@data.StartDate</td>
                    <td>@data.EndDate</td>
                    <td> <span class="bg-@data.TypeColor p-1">@data.Type</span> </td>
                    <td> <span class="bg-@data.StatusColor p-1">@data.Status </span></td>
                    <td>@data.PaientId</td>
                    <td>@data.Period</td>
                    <td>
                        <a class="btn btn-outline-info"> edit </a>
                        <a class="btn btn-outline-danger"> delete </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

