@model IEnumerable<PaientViewModel> 
@{
    ViewData["Title"] = "Paients";
}

@if (!string.IsNullOrEmpty(ViewBag.Paient))
{
    <div class="text-danger">
        @ViewBag.Paient
    </div>
}

<div class="text-center"> 
    <h1> Appointments </h1>
    <div class="col-2 float-end">
        <a class="btn btn-primary add-button" asp-action="addPaient">Add</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Full Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Geneder</th>
                <th scope="col">BirthDate</th>
                <th scope="col">Country</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody> 
            @foreach(var data in Model)
            {
                <tr>
                    <td> @data.FullName</td>
                    <td> @data.Address</td>
                    <td> @data.Phone </td>
                     @if(data.Geneder == 0){ <td>Male</td> } else { <td> Female </td>} 
                    <td>  @data.BirthDate.ToString("dd/M/yyyy") </td>
                    <td> @data.Country</td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="edit" asp-route-id="@data.Id" > edit </a>
                        <a class="btn btn-outline-danger" onclick="deleteAppointment(@data.Id)"> delete </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts { 
    <script>
        function deleteAppointment(id){
            if (confirm("Are you sure you want to delete this record?", "Deletion Confirmation", "Yes,No")) {
                // delete the record
                $.ajax({
                    url: '/appointment/' + id,
                    type: 'DELETE',
                    success: function(result) {
                        // handle the success
                        console.log(result);
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        // handle the error
                        console.log(xhr, status, error);
                    }
                });
            }
        }
    </script>
}

